<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Search for GIFS</h1>
<form method="GET" action="/api/search">
 <input type="text" name="searchStr">
 <input type="number" name="count">

 <button type="submit">Search</button>
</form>
<br>
<br>

<!-- {{gifs}} -->
{{#each gifs}}
<div>
<!-- <img src="{{this.images.fixed_height.url}}" alt=""> -->
<img src="{{this}}">
</div>
{{/each}}
</body>
</html>